app-login {
    .login-form {
        max-width: 30rem;
    }

    .card-header {
        font-size: 25px;
        font-weight: bold;
    }

    .login-button {
        width: 10rem;
        font-size: 20px;
        border-radius: 5px;
        letter-spacing: 1px;
    }

    .field-error {
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #dc3545;
    }
}
