@import '../../styles/variables';

app-deals {
    display: block;

    .add-button {
        display: block;
        margin: 20px auto;
    }

    .deals-list {
        margin: 20px auto;
        width: 80%;
        height: 300px;
        overflow-y: auto;
    }

    .no-data-msg {
        width: auto;
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
        font-style: italic;
    }
}
