@import '../../styles/variables';

app-deals {
    display: block;

    .deals-list {
        width: 80%;
        margin: 20px auto;
    }

    .no-data-msg {
        width: auto;
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
        font-style: italic;
    }
}
