app-header {
    display: block;

    .navbar-brand,
    .nav-link {
        cursor: pointer;
    }

    .nav-item {
        &.active {
            font-weight: bold;
        }
    }

    .account {
        display: flex;
        align-items: center;

        &__user-name {
            color: white;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1px;
        }

        &__user-balance {
            color: white;
            font-size: 18px;
            margin-left: 10px;
        }
    }
}
