app-adding-form {
    .adding-card {
        display: block;
        width: 80%;
        margin: 20px auto;
    }

    .adding-form {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
    }

    .card-header {
        font-size: 25px;
        font-weight: bold;
    }

    .form-group {
        width: 40%;
        margin-bottom: 0;
    }

    .adding-button {
        width: 5rem;
        font-size: 20px;
        border-radius: 5px;
        letter-spacing: 1px;
    }

    .field-error {
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #dc3545;
    }
}
