app-deals-table {
    .deals-list {
        display: block;
        margin: 20px auto;
        width: 80%;
        height: 300px;
        overflow-y: auto;
    }

    .no-data-msg {
        width: auto;
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
        font-style: italic;
    }

    .action-btn {
        border: none;
        background: none;
        border-radius: 5px;
        border: 1px solid #000000;

        &__text {
            margin-left: 10px;
        }

        &:hover {
            background: rgba(#000000, 0.1);
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}
