body {
    margin: 0;
    padding: 0;
}

.app-root {
    display: block;
    width: 1200px;
    margin: 0 auto;
}

.page-title {
    display: block;
    margin: 20px auto 0;
    text-align: center;
    font-size: 30px;
}
